{% extends 'base.html' %}
{% block content %}

    <h2>User's Ratings</h2>
    <a href="/">Home</a>
    <ul>
      <li style="font-weight: bold; font-size: 20px">User age is {{ age }}</li>
      <li style="font-weight: bold; font-size: 20px">User zipcode is {{ zipcode }}</li>
      <p></p>
      <p></p>
      <table>
        <thead>
            <th>Movie</th>
            <th>Score</th>
        </thead>
          {% for record in movie_scores %}
          <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
          </tr>
          {% endfor %}
  </table>


    </ul>


{% endblock %}
